<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ClientId" value="6aec0e95-e2fa-4c76-be65-828f57973952" />
        <add key="ClientSecret" value="gQkRh18YUnTUCXHRBVihJckhQqRgkX5MphaEbwbAgVc" />
        <add key="RedirectURI" value="http://localhost:8080" />
		<!--chzzekSessionURL을 입력!!-->
        <add key="ChzzkSessionFileURL" value="E:\방송\치지직이모티콘채팅\공유용\BridgeBBCC\lib\chzzkSessionURL.js" />
    </appSettings>
</configuration>